@use "../../foundation/mixin";

/*wp-pagenavi 17*/
.wp-pagenavi {
	clear: both;
	text-align:center;
    padding-top: 50px;
    padding-bottom: 50px;
    @include mixin.pc {
        margin-right: 367px;
    }
    .pages {
        border: none;
    }
    .nextpostslink {
        border: none;
    }
    .previouspostslink {
        border: none;
    }
}
.wp-pagenavi a, .wp-pagenavi span {
	background-color: #FFFFFF;
	padding: 8px 15px;
	margin: 0 2px;
	white-space: nowrap;
	-webkit-transition: 0.2s ease-in-out;
	-moz-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
	text-align: center;
	text-decoration: none;
	border: thin solid #707070;
}

// 参考　https://www.taniweb.jp/blog/wp_reference/8071/
